<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div layout:fragment="content">
        <div class="container">
            <form method="post" autocomplete="off" role="form" id="save" th:object="${user}">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span th:text="${adduser}"></span>
                            <a th:href="@{/users}" class="pull-right">Назад</a>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <label for="loginname">Логин</label>
                                    <input type="text" class="form-control" id="loginname" th:field="*{username}" />
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label for="password">Пароль</label>
                                    <input type="password" class="form-control" id="password" th:field="*{password}" />
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label for="firstname">Имя:</label>
                                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}" />
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label for="lastname">Фамилия:</label>
                                    <input type="text" class="form-control" id="lastname" th:field="*{lastname}" />
                                </div>

                                <div class="col-xs-12 form-group">
                                    <label for="department">Отдел</label>
                                    <select id="department" class="form-control" th:field="*{department}">
                                        <option th:each="dept : ${availableDepartments}"
                                                th:text="${dept.departmentName}" th:value="${dept.id}"></option>
                                    </select>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label for="modulename">Название модуля</label>
                                    <select multiple="multiple" class="form-control" id="modulename"
                                            th:field="*{modules}">
                                        <option th:each="module : ${availableModules}" th:text="${module.moduleName}"
                                                th:value="${module.id}"></option>
                                    </select>

                                </div>

                                <div class="col-xs-12 form-group">
                                    <label for="userType">Тип</label>

                                    <div class="col-xs-12 input-group">
                                        <select id="userType" class="form-control" th:field="*{roles}">
                                            <option th:each="role : ${availableRoles}" th:text="${role.roleName}"
                                                    th:value="${role.id}"></option>
                                        </select>
                                    </div>

                                </div>

                                <div class="col-xs-12 form-group">
                                    <label class="control-label">ЭЦП </label>

                                    <div class="col-xs-12">
                                        <input id="input-1a" type="file" class="file" />
                                    </div>
                                </div>

                                <div class="col-xs-12 text-right">
                                    <input type="submit" value="Сохранить" class="btn btn-info" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>