<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorator="layout">
    <div layout:fragment="content">
        <div class="container">
            <h2 th:text="${departments}"></h2>
            <table class="table table-striped table-hover mytab">
                <thead>
                <tr>
                    <th colspan="4">

                    </th>
                </tr>
                <tr>
                    <th colspan="3">
                        <div class="text-right">
                            <a th:href="@{/departments/new}" class="label label-info">добавит</a>
                            <a th:href="@{/home}"><span class="label label-default">назад</span></a>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Изменить</th>
                </tr>
                </thead>
                <div th:if="${allDepartment == null}">
                    You don't have any skills
                </div>
                <tbody>

                <tr th:each="dep : ${allDepartment}" th:id="${'department' + dep.id}">
                    <td th:text="${dep.id}"></td>
                    <td th:text="${dep.departmentName}"></td>
                    <td>
                        <a th:href="@{/departments/{id}(id=${dep.id})}" class="label label-warning">Изменить</a>
                        <a href="#"
                           th:attr="data-url=@{/departments/{id}(id=${dep.id})}, data-remove='department' + ${dep.id}"
                           class="delete label label-danger">Удалить</a>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>