<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Management</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link th:href="@{/css/mystyle.css}" href="../static/css/mystyle.css" rel="stylesheet" media="screen" />
    <link th:href="@{/css/fileinput.css}" href="../static/css/fileinput.css" rel="stylesheet" media="screen" />
    <script src="/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="/js/fileinput.js" th:src="@{/js/fileinput.js}"></script>
</head>
<body class="bg">
<nav class="navbar navbar-default">
    <div th:class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">Управление пользователей систем</a>
            <a href="#"> </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/home}">Главная</a></li>
                <li><a th:href="@{/modules}">Модулы</a></li>
                <li><a th:href="@{/departments}">Департаменты</a></li>
                <li><a th:href="@{/users}">Пользователи</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle active" data-toggle="dropdown" href="#">JSON форматы<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://localhost:8090/api/dvs" target="_blank">Пользователи</a></li>
                        <li><a href="http://localhost:8090/api/dept" target="_blank">Отделы</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle active" data-toggle="dropdown" href="#">
                        <span th:inline="text" th:text="${#httpSession.getAttribute('USER_KEY').username}"></span> <span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/userprofile}">Профайл</a></li>
                        <li><a th:href="@{/logout}">Выход</a></li>
                    </ul>
                </li>

                <li><a></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div layout:fragment="content"></div>
</div>
<div class="navbar-fixed-bottom text-center text-info panel panel-footer">
    <a href="http://localhost:8090/api/dvs" target="_blank">DVC API</a>
</div>
<script>
    $(function () {
        $('.delete').click(function (e) {
            e.preventDefault();
            var $target = $(e.target);
            $.ajax({
                method: 'DELETE',
                url: $target.data('url')
            }).success(function () {
                var remove = $target.data('remove');
                if (remove) {
                    $('#' + remove).remove();
                }
            }).error(function () {
                alert('error deleting...');
            });
        })
    })
</script>
<script layout:fragment="script"></script>
</body>
</html>