
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Management</title>
    <link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet" media="screen" />
    <link th:href="@{/css/login.css}" href="../static/css/login.css" rel="stylesheet" media="screen" />
    <style>
        body {
            margin-top: 100px;
        }
    </style>
</head>
<body class="bg">
<nav id="myNavbar" class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">U.M.</a>
        </div>
    </div>
</nav>
<div class="container col-sm-offset-4 col-sm-4">
    <div class="row">
        <p th:if="${param.logout}" class="alert alert-success" role="alert">Вы успешно вышли из системы</p>

        <p th:if="${param.fail}" class="alert alert-danger" role="alert">Проверьте логин и пароль</p>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Вход в систему</strong>
            </div>
            <div class="panel-body">
                <form name="form" th:action="@{/login}" action="/login" method="POST" class="form-horizontal"
                      role="form" id="login">
                    <input type="hidden" id="from" name="from" th:value="${param.from[0]}"
                           th:if="${param.from != null}" />
                    <input type="hidden" id="sessionId" name="sessionId" th:value="${#httpSession.id}" />
                    <input type="hidden" id="hash" name="hash" />
                    <input type="hidden" id="signature" name="signature" />
                    <div class="form-group">
                        <label class="control-label col-sm-2 glyphicon glyphicon-user " for="username"></label>

                        <div class="col-sm-10">
                            <input type="username" class="form-control" name="username" id="username"
                                   placeholder="Enter login" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 glyphicon glyphicon-lock" for="password"></label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Enter password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info  pull-right col-sm-3">Вход</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
</div>
<div class="navbar navbar-fixed-bottom text-center">
    <h5>ИВЦ, 2015г. </h5>
</div>
<script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
<script src="../static/js/esigner.js" th:src="@{/js/esigner.js}"></script>
<script>
    $(function () {
        $('#login').on('submit', function (e) {
            var sessionId = $('#sessionId').val();
            var username = $('#username').val();
            var password = $('#password').val();
            var text = username + password;
            var hash = eSignerDigest(text);
            var signature = eSignerSign(E_SIGNER_KEY_SOURCE.AUTO, sessionId, hash);
            $('#hash').val(hash);
            $('#signature').val(signature);
            console.log('trying to submit', sessionId, username, password, hash, signature);
        })
    });
</script>
</body>
</html>
